.payment-summery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.payment-summery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
}

.top-section-payment {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.top-section-payment > div, .total-finally {
  width: 100%;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-section-payment {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
  position: relative;
}

.promo-code {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 0.5rem;
}

.enter-promo-code {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
  background-color: #eee;
  padding: 0.25rem;
  border-radius: 1rem;
  padding-left: 0.75rem;
}

.enter-promo-code > input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-left: 0.25rem;
  outline: none;
  border: none;
  font-size: large;
}

.apply-promo-code {
  height: 100%;
  background-color: var(--bg-secondary-color);
  color: var(--text-secondary-color);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.go-to-checkout {
  width: 100%;
  height: 60px;
  background-color: var(--bg-secondary-color);
  color: var(--text-secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 0.75rem;
  cursor: pointer;
  border: none;
}

.go-to-checkout:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width : 299px) {
  .payment-summery-container {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid var(--border-color);
    border-radius: 1rem;
    padding: 0.75rem;
  }

  .payment-summery {
    padding: 0;
  }

  .top-section-payment > h1 {
    font-size: large;
  }

  .top-section-payment > div {
    font-size: medium;
  }

  .bottom-section-payment > div:first-child {
    font-size: medium;
  }

  .promo-code {
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 60px !important;
  }

  .enter-promo-code > input {
    overflow: hidden;
    font-size: small;
  }

  .enter-promo-code {
    flex: auto;
  }
}

@media (min-width : 300px) and (max-width : 479px) {
  .payment-summery-container {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid var(--border-color);
    border-radius: 1rem;
    padding: 0.75rem;
  }

  .payment-summery {
    padding: 0;
  }

  .top-section-payment > h1 {
    font-size: large;
  }

  .top-section-payment > div {
    font-size: medium;
  }

  .bottom-section-payment > div:first-child {
    font-size: medium;
  }

  .promo-code {
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 60px !important;
  }

  .enter-promo-code > input {
    overflow: hidden;
    font-size: small;
  }

  .enter-promo-code {
    flex: auto;
  }
}

@media (min-width : 480px) and (max-width : 767px) {
  .payment-summery-container {
    width: 100%;
    margin: 0 auto;
    border: 0.5px solid var(--border-color);
    border-radius: 1rem;
    padding: 0.75rem;
  }

  .payment-summery {
    padding: 0;
  }

  .top-section-payment > h1 {
    font-size: large;
  }

  .top-section-payment > div {
    font-size: medium;
  }

  .bottom-section-payment > div:first-child {
    font-size: medium;
  }

  .promo-code {
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 60px !important;
  }

  .enter-promo-code > input {
    overflow: hidden;
    font-size: small;
  }

  .enter-promo-code {
    flex: auto;
  }
}

@media (min-width : 1024px) and (max-width : 1400px) {
  .promo-code {
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr 60px !important;
  }

  .enter-promo-code > input {
    overflow: hidden;
    font-size: small;
  }

  .top-section-payment > h1 {
    font-size: x-large;
  }

  .top-section-payment > div {
    font-size: large;
  }
}