.stories-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 5rem 0 0 0;
  padding: 5rem;
}

.stories-header {
  width: 100%;
  height: auto;
  padding: 0 0 5rem 0;
  text-align: center;
}

.stories-main {
  width: 87%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.stories-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: scale 1s, border-radius 1s, filter 1s;
}

.stories-content:hover {
  scale: 1.3;
  border-radius: 0.75rem;
}

.stories-main:hover .stories-content:not(:hover) {
  filter: blur(10px);
}

.stories-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
}

/* Responsive */
/* below 300px */
@media (max-width : 299px) {
  .stories-container {
    padding-inline: 0;
  }

  .stories-main {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .stories-content {
    width: 100%;
  }

  .stories-content:hover {
    scale: 1;
    border-radius: 0.75rem;
  }

  .stories-main:hover .stories-content:not(:hover) {
    filter: blur(10px);
    scale: 0.75;
  }
}

/* below 480px -- above 300px */
@media (min-width : 300px) and (max-width : 479px) {
  .stories-container {
    padding-inline: 0;
  }

  .stories-main {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .stories-content {
    width: 100%;
  }

  .stories-content:hover {
    scale: 1;
    border-radius: 0.75rem;
  }

  .stories-main:hover .stories-content:not(:hover) {
    filter: blur(10px);
    scale: 0.75;
  }
}

/* below 768px -- above 480px */
@media (min-width : 480px) and (max-width : 767px) {
  .stories-container {
    padding-inline: 0;
  }

  .stories-main {
    width: 95%;
    gap: 0.25rem;
  }

  .stories-content {
    width: 100%;
  }

  .stories-content:hover {
    scale: 1;
    border-radius: 0.75rem;
  }

  .stories-main:hover .stories-content:not(:hover) {
    filter: blur(10px);
    scale: 0.75;
  }
}

@media (min-width : 768px) and (max-width : 1023px) {
  .stories-container {
    padding-inline: 0;
  }

  .stories-main {
    width: 90%;
    gap: 0.25rem;
  }

  .stories-content {
    width: 100%;
  }

  .stories-content:hover {
    scale: 1;
    border-radius: 0.75rem;
  }

  .stories-main:hover .stories-content:not(:hover) {
    filter: blur(10px);
    scale: 0.75;
  }
}

@media (min-width : 1024px) {
  .stories-container {
    padding-inline: 0;
  }

  .stories-main {
    width: 90%;
    gap: 0.25rem;
  }

  .stories-content {
    width: 100%;
  }

  .stories-content:hover {
    scale: 1;
    border-radius: 0.75rem;
  }

  .stories-main:hover .stories-content:not(:hover) {
    filter: blur(10px);
    scale: 0.75;
  }
}