.header-profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order-profile-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.search-section-profile {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  border-radius: 1rem;
  fill: var(--text-color);
}

.search-section-profile > input {
  width: 0;
  min-width: 400px;
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: large;
}

.filter-button-profile {
  min-width: 120px;
  height: 60px;
  background-color: var(--bg-secondary-color);
  color: var(--text-secondary-color);
  fill: var(--text-secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 1rem;
}

@media (min-width : 299px) and (max-width : 1023px) {
  .search-section-profile {
    aspect-ratio: 1 / 1;
  }
  
  .search-section-profile > input {
    display: none;
  }
}