.menu-profile {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--shadow);
}

.profile-viewer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--shadow);
}

.img-profile {
  aspect-ratio: 1 / 1;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-profile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-name {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.25rem;
}

.profile-name > span:first-child {
  font-size: medium;
  font-weight: bold;
}

.profile-name > span:last-child {
  font-size: larger;
  font-weight: bolder;
}

.list-profile-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem 0;
}

.list-profile-tabs > li {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.list-profile-tabs > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-inline: 1rem;
  text-wrap: nowrap;
}

.page-header {
  background-color: var(--bg-secondary-color);
  fill: var(--text-secondary-color);
  color: var(--text-secondary-color);
}

.page-header:hover {
  color: var(--text-secondary-color);
}

@media (max-width : 299px) {
  .menu-profile {
    display: none;
  }
}

@media (min-width : 300px) and (max-width : 479px) {
  .menu-profile {
    display: none;
  }
}

@media (min-width : 480px) and (max-width : 767px) {
  .menu-profile {
    display: none;
  }
}

@media (min-width : 768px) and (max-width : 1023px) {
  .menu-profile {
    width: 225px;
  }
}