.best-seller-container {
  width: 78%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.best-seller-header {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.best-seller-items-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 2rem 0;
}

/* Responsive */
/* below 300px */
@media (max-width : 299px) {
  .best-seller-items-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* below 480px -- above 300px */
@media (min-width : 300px) and (max-width : 479px) {
  .best-seller-items-container {
    grid-template-columns: repeat(1, 1fr);
  } 
}

@media (min-width : 480px) and (max-width : 599px) {
  .best-seller-items-container {
    grid-template-columns: repeat(1, 1fr);
  } 
}

/* below 768px -- above 480px */
@media (min-width : 600px) and (max-width : 767px) {
  .best-seller-items-container {
    grid-template-columns: repeat(2, 1fr);
  } 
}

/* below 1024px -- above 768px */
@media (min-width : 768px) and (max-width : 1023px) {
  .best-seller-items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* below 1280px -- above 1024px */
@media (min-width : 1024px) and (max-width : 1279px) {
  .best-seller-items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}